<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.8.1" />
		<httpRuntime targetFramework="4.8.1" />
		<authentication mode="Forms" />
		<customErrors mode="Off" />
	</system.web>

	<connectionStrings>
		<!-- 请根据本机 MySQL 配置修改 -->
		<add name="MySqlConnection" connectionString="Server=localhost;Database=onlineshop;Uid=root;Pwd=123456;Charset=utf8;pooling=true;" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>
</configuration>